<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>798937769368-v6qrltfhd5bu3df5rr0naq2gpdgoaojv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798937769368-v6qrltfhd5bu3df5rr0naq2gpdgoaojv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>798937769368-181901cuq2ced1oomf9j65vas15r998v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDm1ki29wsMflKFUxP0RrctplGefzZQBb4</string>
	<key>GCM_SENDER_ID</key>
	<string>798937769368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deliasilistru.staysafe</string>
	<key>PROJECT_ID</key>
	<string>staysafe-2cbcf</string>
	<key>STORAGE_BUCKET</key>
	<string>staysafe-2cbcf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798937769368:ios:77cc0e5661a31972e3b7ed</string>
</dict>
</plist>